* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html {
  background: rgb(var(--surface-50));
  color: rgb(var(--surface-900));

}
html.dark {
  background: rgb(var(--surface-950));
  color: rgb(var(--surface-200));
}
